{% extends 'base.html'%}
{% load static %}

{% block head%}
    <title >DemistifyCode</title>
{% endblock%}

{%block body%}
    <h1 class="title has-text-black is-bold has-text-centered  is-uppercase my-6 is-size-3">Bienvenue sur DemistifyCode</h1>
    <h2 class="subtitle has-text-centered is-size-5">Vous desirez apprendre la programmation a votre rythme</h2>
    <div class="columns">
        <div class="column is-2"></div>
        <div class="is-8 column">
            <p class="has-text-centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur. Autem natus commodi expedita inventore? Deleniti ipsam quo amet esse commodi illum accusamus corrupti, hic qui blanditiis nulla, voluptates porro.</p>
        </div>
        <div class="column is-2"></div>
    </div>

    <div class="section has-background-dark">
        <h2 class="subtitle has-text-centered is-size-5">Les derniers articles de notre blog</h2>
        <ul class="columns">
            {% for post in posts%}
                <li class="column is-multiline columns">
                    <div class="section has-text-centered">

                        <h3 class="title is-size-6 "><a href="{% url 'show_post' post.slug%}">{{post.title | upper}}</a></h3>

                        {% if post.cover_image%}
                            <a class="is-inline-block my-4" href="{% url 'show_post' post.slug%}"><img src="{{post.cover_image.url}}" width="100" alt=""></a>
                        {%else%}
                            <a class="is-inline-block my-4" href="{% url 'show_post' post.slug%}"><img src="{% static '/assets/default_image.jpg'%}" width="100" alt=""></a>
                        {%endif%}

                        {%if post.description %}
                        <p class="subtitle">
                            {{post.description}}
                        </p>
                        {%endif%}
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>
{%endblock%}