{% extends 'base.html'%}
{% load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-DMC</title>
</head>
<body>
    <h1>Blog</h1>
    <p>Nous avions {{nb_article}}</p>
    {%for post in posts%}
        <h2><a href="{% url 'show_post' post.slug%}">{{post.title}}</a></h2>
        {% if post.cover_image%}
            <a href="{% url 'show_post' post.slug%}"><img src="{{post.cover_image.url}}" width="100"/></a>
        {%else%}
            <a href="{% url 'show_post' post.slug%}"><img src="{% static '/assets/default_image.jpg'%}" width="100"/></a>
        {%endif%}
        <p>{{post.description}}</p>
    {%endfor%}
</body>
</html>