{% extends "base.html" %}
{%load static%}
    {% block head %}
        <title>{{post.slug}}</title>
        <style>
            #cover_image{
                width: 90%;
                margin: auto;
            }
        </style>
    {% endblock head %}

    {% block body %}
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-10">
                <h1 class="title is-size-2 mt-4 has-background-dark has-text-centered">{{post.title}}</h1>
                {% if post.cover_image%}
                    <img id="cover_image" class="image" src="{{post.cover_image.url}}" style="max-width:900px" />
                {%else%}
                    <img id="cover_image" class="image" src="{%static '/assets/default_image.jpg'%}" style="max-width:900px"/>
                {%endif%}
        
                <p>{{post.content}}</p>
            </div>
            <div class="column is-1"></div>
        </div>
    {% endblock body %}